@use "../config/vars" as *;
/*=============== REUSABLE CSS CLASSES ===============*/
h1,
h3,
h2,
h4,
h5,
h6 {
  font-weight: var(--fw-semi);
  text-transform: capitalize;
  color: var(--title-clr);
  letter-spacing: 1px;
}

a {
  text-transform: capitalize;
}

::selection {
  background-color: var(--primary-clr);
  color: white;
}
.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--m-6);
}
.main {
  overflow: hidden;
  @include box(968px 100%);
  @include px(var(--m-3));
  @include mx(auto);
  max-width: 100%;
}

* > * {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  position: relative;
}
.theme__toggler,
.nav__toggler {
  color: var(--title-clr);
  background-color: var(--body-clr) !important;
  transition: var(--transition-fast);
  box-shadow: var(--shadow);
  font-size: var(--m-4);
  @include box(44px);
  z-index: 10;
  @include circle;
  border: none;
  @include media(md, "max") {
    @include box(40px);
    font-size: var(--m-3);
  }
  &:hover {
    @include shadowClr();
  }
}
.theme__toggler {
  position: fixed;
  top: var(--m-3);
  right: var(--m-3);
}

.span__title {
  color: var(--primary-clr);
}

.btn {
  color: var(--title-clr);
}
p {
  line-height: 1.8;
}

:root {
  --section-font-size: var(--m-5);

  @include media(md) {
    --section-font-size: var(--m-10);
  }
}

.section {
  @include py(var(--m-10));
  min-height: 100vh;
  width: 100%;

  &__header {
    margin-bottom: var(--section-padding);
  }
  &__title {
    font-size: var(--section-font-size);
    font-weight: var(--fw-bolder);
    position: relative;
    text-shadow: longShadow(black(0.02));
    @include media(md, "max") {
      font-size: 30px;
    }
    @include media(sm, "max") {
      font-size: 25px;
    }
  }
}

.pageOverlay {
  @include page-overlay(var(--primary-clr), 0.3, var(--page-overlay-zindex));
}
