@use "../config/vars" as *;
::-webkit-scrollbar {
  @include box(6px);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-clr);
}

.scroll__top {
  transition: all 0.5s ease-in-out, opacity 0.5s ease-in-out 0.1s;
  @include bottom-right(-50px 20px);
  color: var(--primary-clr);
  font-size: var(--m-4);
  @include flex-center;
  @include box(45px);
  position: fixed;
  --radius: 10px;
  border-radius: var(--radius);
  border: none;
  padding: 2px;
  z-index: 10;
  opacity: 0;
  &.show {
    opacity: 1;
    bottom: 15px;
  }
  &__icon {
    background-color: var(--body-clr);
    border-radius: var(--radius);
    @include flex-center;
    @include box(100%);
    i {
      position: relative;
      z-index: 40;
      opacity: 1;
    }
  }
}
